[user]
	name = Takuro Monji
	email = 1984tkr@gmail.com
[color]
	ui = auto
	diff = auto
[core]
	excludesfile = ~/.gitignore
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitexcludes
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[credential]
	helper = osxkeychain
[include]
	path = ~/.gitconfig.local
[ghq]
  root = ~/src
[alias]
	b = branch
	co = checkout